<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css"> <!-- Link to the CSS file -->
</head>
<body>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <button onclick="window.location.href='/signup'">Sign Up</button>
        <button onclick="window.location.href='/login'">Login</button>
    </div>
</body>
</html>
